.btn
{
    border-radius: 4px;
}

.error
{
    color: red;
    font-size: 80%;
    font-weight: 400;
}

.container
{
    /* background-color: red; */
    margin:23px auto;
}
.appContainer
{
    color: rebeccapurple;
}

.navContainer
{
    width: 100%;
    text-align: right;
    padding: 1%;
    display: flex;
    justify-content: space-between;
}

.navIcons
{
    /* background-color: red; */
    /* margin: 3px 9px; */
    margin: 3px;
    display: inline-block;
    padding: 9px;
    min-width: 20px;
    text-align: center;
    font-size: 19px;
    border-bottom: 4px solid transparent;
    color: rgb(128, 128, 128);
}
.navIcons i
{
    /* color: gray; */
}
.selectedNavIcon
{
    border-bottom: 4px solid rebeccapurple;
    color: rebeccapurple;
}

.navIcons:hover
{
    cursor: pointer;
    border-bottom: 4px solid rebeccapurple;
    color: rebeccapurple;
}

.navProfileIcon
{
    margin-left: 30px;
    display: inline-block;
    padding: 2px 6px;
    min-width: 20px;
    text-align: center;
    font-size: large;
    color: rgb(128, 128, 128);
}
.selectedNavProfileIcon
{
    color: rebeccapurple;
    background-color: rgba(119, 136, 153, 0.083);
    border-radius: 4px;
}
.navProfileIcon:hover
{
    background-color: rgba(119, 136, 153, 0.083);
    cursor: pointer;
    color: rebeccapurple;
}

.searchBarDiv
{
    background-color: rgba(239, 242, 245);
    border-radius: 25px;
    min-width: 360px;
    width: 40%;
    float: left;
    color: darkslategrey;
    font-size: 15px;
    font-weight: 500;
    padding: 3px 3%;
    margin:13px 3px;
}

.searchBarDiv input
{
    border: none;
    width: 94%;
    padding: 6px 1%;
    padding-left: 9px;
    background-color: transparent;
}

.companyLogo
{
    float: left;
    margin: 13px 0px;
    margin-right: 40px;
    color: rebeccapurple;
    /* font-family: 'Frijole'; */
}

.companyLogo h1
{
    font-size: 170%;
    font-weight: bolder;
}

.navBar
{
    margin:0 5%;
    margin-top:9px;
    padding:6px;
    display: flex;
    justify-content: space-between;
    border-radius: 27px;
    box-shadow: 0px 2px 6px rgba(128, 128, 128, 0.437);
}
.navItem
{
    font-size: 13px;
    font-weight: bold;
    padding: 9px;
    min-width: 100px;
    display: inline-block;
    border-radius: 25px;
    text-align: center;
    color: darkslategrey;
}
.navItem:hover
{
    cursor: pointer;
    color: rebeccapurple;
    background-color: rgba(239, 242, 245);
}
.selectedNavItem
{
    color: rebeccapurple;
    background-color: rgba(239, 242, 245);
}


.homeWrapper
{
    background-color: rgba(176, 174, 174, 0.475);
    padding-top: 20px;
    margin-top: 6px;
}

.contentContainer
{
    width: 100%;
    max-width: 1330px;
    padding:27px 4%;
    margin: 9px auto;
    display: flex;
}

.rightContainer
{
    margin: 6px 1.5%;
    width: 25%;
    max-width: 350px;
    padding: 4px;
    border-radius: 4px;
    float: left;

}

.trendAds
{
    font-size: 25px;
    min-height: 200px;
    padding: 19px 3px;
    border-radius: 4px;
    margin-bottom: 15px;
    background-color: rebeccapurple;
    border: 6px solid whitesmoke;
    text-align: center;
    vertical-align: middle;
    color: whitesmoke;
}

.leaderboard
{
    border-radius: 4px;
    padding: 3px;
    font-size: 14px;
    background-color: whitesmoke;
    color: darkslategrey;
}

.leaderboard .title
{
    margin:3px 3%;
    margin-left: 20px;
    font-size: 15px;
    font-weight: bold;
}

.userPosition
{
    text-align: right;
    padding: 3%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(128, 128, 128, 0.252);
    border-radius: 4px;
}
.userPosition img
{
    height: 90px;
    width: 101px;
    margin-top: 3px;
    border-radius: 50%;
    border:3px solid rebeccapurple;
}

.timelineCardList
{
    float: left;
    width: 50%;
    max-width: 600px;
    margin: 0px auto;
    padding: 9px 0%;
}
.timelineCard
{
    background-color: whitesmoke;
    padding: 3%;
    color: rebeccapurple;
    border-radius: 4px;
    text-align: center;
    width: 94%;
    margin:0 auto;
    margin-bottom: 50px;
}

.timelineCard img
{
    width: 100px;
    height: 90px;
    margin-top: -50px;
    border-radius: 50%;
    border: 4px solid rebeccapurple;
}

.content
{
    font-family:  sans-serif;
}

.timeAgo
{
    margin:0px auto;
    margin-bottom: 9px;
    font-size: small;
    color: rgba(47, 79, 79, 0.663);
}

.photo
{
    margin: 0 auto;
    opacity: 0.9;
    width:90%;
    zoom: 55%;
    border-radius: 13px;
}
.photo:hover
{
    opacity: 1;
}

.caption
{
    text-align: left;
    font-weight: bold;
    font-size: small;
    margin: 3px 1%;
    padding: 3px;
}

.respondList
{
    /* background-color: red; */
    border-top: 1px solid rgba(128, 128, 128, 0.104);
    display: flex;
    justify-content: space-between;
}

.respond
{
    width: 30%;
    color: rgba(47, 79, 79, 0.742);
    padding: 9px;
    border-radius:4px;
}
.respond:hover
{
    cursor: pointer;
    background-color: rgba(128, 128, 128, 0.159);
}

.accountWrapper {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 6px;
    color: whitesmoke;
}

.accountHeader {
    background-color: rebeccapurple;
    padding: 50px 9%;
    padding-bottom: 150px;
    font-weight: bold;
}

.accountDetailWrapper {
    padding: 9px 9%;
}

.accountDetails {
    /* float: left; */
    margin-top: -150px;
    padding: 19px 0px;
    border-radius: 4px;
    height: 600px;
    padding-bottom: 30px;
    background-color: rgb(222, 222, 222);
}

.leftContainer {
    width: 21%;
    max-width: 250px;
    height: 100%;
    margin: 9px 2%;
    padding: 9px 1%;
    float: left;
    border-radius: 4px;
    background-color: whitesmoke;
}

.image {
    border-radius: 4px;
    background-color: rebeccapurple;
    text-align: center;
    height: 90px;
}

.image img {
    display: inline-block;
    margin-top: 30px;
    width: 120px;
    height: 110px;
    border-radius: 50%;
    border: 3px solid whitesmoke;
}

.accountHolderName {
    margin: 66px 3% 6px 3%;
    text-align: center;
    color: darkslategrey;
}

.accountHolderName:hover {
    cursor: pointer;
}

.departmentName {
    margin: 3px auto;
    border-radius: 23px;
    color: darkslategrey;
    padding: 9px;
    width: fit-content;
    font-size: 12px;
    text-align: center;
    border: 1px solid rgba(128, 128, 128, 0.216);
}

.list {
    padding: 9px 3%;
    font-size: 13px;
    color: darkslategrey;
}

.listItem {
    margin: 4px 9%;
    padding: 5px 9%;
    border-radius: 4px;
}

.listItem i {
    margin-right: 4px;
}

.listItem:hover {
    cursor: pointer;
    background-color: rgba(128, 128, 128, 0.198);
}

.selectedSideNavItem
{
    background-color: rgba(128, 128, 128, 0.198);
}

.expandDetails {
    float: left;
    width: 73%;
    margin: 9px 2%;
    color: darkslategrey;
    font-weight: bold;
    font-size: 23px;
    height: 100%;
    margin-left: 0%;
    padding: 19px 3%;
    border-radius: 4px;
    background-color: whitesmoke;
}

.header h3
{
    color: darkslategrey;
    font-weight: bold;
    padding: 13px 0%;
}

.detailName {
    color: darkslategrey;
    font-weight: bold;
    font-size: 23px;
    padding: 13px 3%;
}
.detailComponent {
    color: rgba(47, 79, 79, 0.813);
    display: inline-block;
    /* background-color: skyblue; */
    margin: 6px 0px;
    padding: 6px 0px;
    width: 45%;
    min-width: 290px;
}

.detailComponent label {
    font-weight: normal;
    display: block;
    margin-left: 9%;
    margin-bottom: 3px;
    font-size: 13px;
}

.detailComponent input {
    margin-left: 6%;
    background-color: whitesmoke;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13px;
    line-height: normal;
    border-radius: 5px;
    padding: 9px 3%;
    color: grey;
    width: 90%;
    border: 1px solid rgba(128, 128, 128, 0.162);
}

@media only screen and (max-width: 1150px) {
    .listItem {
        margin: 3px 4%;
    }
}

@media only screen and (max-width: 1000px) {
    .listItem {
        margin: 4px 3%;
    }
}
@media only screen and (max-width: 950px) {
    .listItem {
        margin: 3px 1%;
        font-size: 11px;
    }
}
@media only screen and (max-width: 850px) {
    .listItem {
        text-align: center;
        font-size: 0px;
        margin:2.1px;
    }
    .listItem i
    {
        display: block;
        font-size: 19px;
    }
}

footer
{
    /* display: none; */
}


.table-dark-custom
{
    background-color: rebeccapurple;
    color: whitesmoke;
}